* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  padding: 20px 21%;
  justify-content: space-evenly;
  align-items: center;
}
.navbar ul li {
  display: inline-flex;
  padding: 1em;
}

/* .main-container {
  display: flex;
} */

.div {
  background-color: var(--Primary-1, #495e57);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 60px 0;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  z-index: 1;
  display: flex;
  margin-bottom: -33px;
  width: 880px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-2 {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
}
.div-3 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.div-4 {
  color: var(--Primary-2, #f4ce14);
  white-space: nowrap;
  font: 500 64px Markazi Text, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    font-size: 40px;
    white-space: initial;
  }
}
.div-5 {
  color: var(--Secondary-3, #edefee);
  margin-top: 11px;
  font: 400 40px Markazi Text, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-6 {
  color: var(--Secondary-3, #edefee);
  margin-top: 26px;
  font: 500 20px/28px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-7 {
  color: var(--Secondary-4, #333);
  text-align: center;
  border-radius: 16px;
  background-color: var(--Primary-2, #f4ce14);
  margin-top: 23px;
  justify-content: center;
  padding: 19px 37px;
  font: 700 18px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    padding: 0 20px;
  }
}
.img {
  aspect-ratio: 0.84;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}


