* {
  margin: 0;
  padding: 0;
}
/* Navigation Section */
.navbar {
  display: flex;
  padding: 20px 21%;
  justify-content: space-evenly;
  align-items: center;
}
.navbar ul li {
  display: inline-flex;
  padding: 1em;
}
.navbar ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
}
nav ul li a:hover {
  color: #555;
}
.navbar ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
.navbar ul li a,
nav.fill ul li a {
  position: relative;
}
.navbar ul li a:after,
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 100%;
}
.nav-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #aaa;
    position: absolute;
    top: 84px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: right;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
  .active1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .active2 {
    opacity: 0;
  }
  .active3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

/* Hero Section */
.hero-section {
  background-color: var(--Primary-1, #495e57);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 60px 0;
  z-index: 2;
}
@media (max-width: 991px) {
  .hero-section {
    padding: 0 20px;
  }
}
.banner {
  display: flex;
  margin-bottom: -33px;
  width: 880px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .banner {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
}
.hero-description {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.display-title {
  color: var(--Primary-2, #f4ce14);
  white-space: nowrap;
  font: 500 64px Markazi Text, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .display-title {
    font-size: 40px;
    margin-top: 10px;
    white-space: initial;
  }
}
.sub-title {
  color: var(--Secondary-3, #edefee);
  margin-top: 11px;
  font: 400 40px Markazi Text, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.hero-description p {
  color: var(--Secondary-3, #edefee);
  margin-top: 26px;
  font: 500 20px/28px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.btn {
  color: var(--Secondary-4, #333);
  text-align: center;
  border-radius: 16px;
  border-width: 0;
  background-color: var(--Primary-2, #f4ce14);
  margin-top: 23px;
  justify-content: center;
  padding: 19px 37px;
  font: 700 18px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .btn {
    padding: 8px 16px;
    margin-top: 10px;
    font: 400 16px Roboto, sans-serif;

  }
}
.hero-img {
  aspect-ratio: 0.84;
  object-position: center;
  width: 80%;
  border-radius: 16px;
  overflow: hidden;
  align-self: stretch;
}